.fes4-cont{
  padding-top:130px;
	padding-bottom:80px;
}
.fes4-box{
  margin-bottom:50px;
}
.fes4-title-cont {
  position: relative;
  padding-left: 70px;
  padding-bottom: 15px;
}
.fes4-box-icon{
  position: absolute;
  top: 7px;
  left: 0;
  color: #4b4e53;
  font-size: 45px;
}
.fes4-title-cont h3, .title-18 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #4b4e53;
  font-weight: 300;
  font-size: 18px;
  margin: 0;
}
.section-title {
  margin:0;
  padding:22px 25px 24px 25px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight:300;
	font-size:30px;
	line-height:36px;
	color:#4b4e53; 
  border-left:#4b4e53 2px solid;
}
.section-title-2 {
  margin:0;
  padding:25px 25px 27px 25px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight:300;
	font-size:30px;
	line-height:30px;
	color:#4b4e53; 
}
.section-title-3 {
  margin:0;
  padding:15px 20px 17px 23px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-weight:300;
	font-size:23px;
  font-weight:400;
  letter-spacing:3px;
	line-height:32px;
	color:#4b4e53; 
  border-left:#4b4e53 2px solid;
}

.p-50-cont{ padding-top:50px; padding-bottom:50px;}
.p-60-cont{ padding-top:60px; padding-bottom:60px;}
.p-80-cont{ padding-top:80px; padding-bottom:80px;}
.p-110-cont{ padding-top:110px; padding-bottom:110px;}
.p-140-cont{ padding-top:140px; padding-bottom:140px;}
.pt-110-cont{ padding-top:110px;}
.pt-100-cont{ padding-top:100px;}
.pt-80-b-50-cont { padding-top:80px; padding-bottom:50px;}
.pt-100-b-80-cont { padding-top:100px; padding-bottom:80px;}
.pt-110-b-80-cont { padding-top:110px; padding-bottom:80px;}
.pt-110-b-30-cont{ padding-top:110px; padding-bottom:30px;}
.pt-110-b-40-cont{ padding-top:110px; padding-bottom:40px;}
.pt-110-b-50-cont{ padding-top:110px; padding-bottom:50px;}
.pt-110-b-60-cont{ padding-top:110px; padding-bottom:60px;}
.pt-110-b-80-cont{ padding-top:110px; padding-bottom:80px;}
.pt-120-b-100-cont{ padding-top:120px; padding-bottom:100px;}
.pt-150-b-110-cont{ padding-top:150px; padding-bottom:110px;}

@media only screen and (max-width : 1024px) {
  .p-140-cont{ padding-top:120px; padding-bottom:120px;}
}

@media only screen and (max-width : 768px) {
  .container {
    padding-left:20px;
    padding-right:20px;
  }
  .row-sm-fix {
		margin-right: -20px;
    margin-left: -20px; 
	}
	.fes1-cont {
		padding-top:80px;
		padding-bottom:50px; 
	}
  .fes4-cont{
    padding-top:80px;
    padding-bottom:30px;
  }
  .p-110-cont{ padding-top:80px; padding-bottom:80px;}
  .p-140-cont{ padding-top:80px; padding-bottom:80px;}
  .pt-110-cont, .pt-100-cont{ padding-top:80px;}
  .pt-100-b-80-cont { padding-top:80px; padding-bottom:60px;}
  .pt-110-b-80-cont { padding-top:80px; padding-bottom:50px;}
  .pt-110-b-30-cont{ padding-top:80px; padding-bottom:10px;}
  .pt-110-b-40-cont{ padding-top:80px; padding-bottom:20px;}
  .pt-110-b-50-cont{ padding-top:80px; padding-bottom:20px;}
  .pt-110-b-60-cont{ padding-top:80px; padding-bottom:40px;}
  .pt-110-b-80-cont{ padding-top:80px; padding-bottom:40px;}
  .pt-120-b-100-cont{ padding-top:80px; padding-bottom:50px;}
  .pt-150-b-110-cont{ padding-top:80px; padding-bottom:40px;}
	.title-fs-60 {
		font-size: 40px;
		line-height: 40px;
	}
	.title-fs-45 {
		font-size: 30px;
		line-height: 30px;
	}
	.line-3-100{
		margin-top:10px;
	}
	.fes1-img-cont img{
		height:250px;
	}
	.fes2-main-text-cont{
		padding:70px 30px 70px 30px;
	}
}

@media only screen and (max-width : 480px) {
  .p-140-cont{ padding-top:60px; padding-bottom:60px;}
}